src/main/app/business.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <data-mapper:config name="csv2taxpayer_grf" transformationGraphPath="csv2taxpayer.grf" doc:name="csv2taxpayer_grf"/>
    <data-mapper:config name="taxpayer2simpletaxrequest_grf" transformationGraphPath="taxpayer2simpletaxrequest.grf" doc:name="taxpayer2simpletaxrequest_grf"/>
    <data-mapper:config name="taxpayer2advancedtaxrequest_grf" transformationGraphPath="taxpayer2advancedtaxrequest.grf" doc:name="taxpayer2advancedtaxrequest_grf"/>
    <flow name="file-loadTaxPayers" doc:name="file-loadTaxPayers">
        <file:inbound-endpoint path="./_inputs" moveToDirectory="./_data" responseTimeout="10000" doc:name="_inputs/*.csv">
            <file:filename-regex-filter pattern=".*\.csv$" caseSensitive="true"/>
        </file:inbound-endpoint>
        <data-mapper:transform config-ref="csv2taxpayer_grf" doc:name="-&gt; List&lt;TaxPayer&gt;"/>
        <set-variable variableName="cpt" value="0" doc:name="cpt = 0"/>
        <collection-splitter doc:name="split"/>
        <set-variable variableName="cpt" value="#[(int) flowVars['cpt'] + 1]" doc:name="cpt++"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/vm/internal/handleATaxPayer" doc:name="handleATaxPayer"/>
        <collection-aggregator failOnTimeout="true" doc:name="aggregate"/>
        <logger message="Handled TaxPayers: #[flowVars['cpt']]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="-&gt; JSON"/>
        <file:outbound-endpoint path="./_outputs" outputPattern="results.json" responseTimeout="10000" doc:name="_outputs/results.json"/>
    </flow>
    <flow name="vm-HandleATaxPayer" doc:name="vm-HandleATaxPayer">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/vm/internal/handleATaxPayer" doc:name="handleATaxPayer"/>
        <logger message="Handling #[message.payload.lastName]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="current" value="#[message.payload]" doc:name="current = this"/>
        <choice doc:name="Choice">
            <when expression="#[message.payload.assets.wealth &lt;15000]">
                <logger message="Processing #[message.payload.lastName] with SIMPLE" level="INFO" doc:name="log-SIMPLE"/>
                <flow-ref name="sub-handeWithSimple" doc:name="handleWithSimple"/>
            </when>
            <otherwise>
                <logger message="Processing #[message.payload.lastName] with COMPLEX" level="INFO" doc:name="log-COMPLEX"/>
                <flow-ref name="sub-handleWithComplex" doc:name="handleWithComplex"/>
            </otherwise>
        </choice>
        <scripting:component doc:name="-&gt; TaxPayerInformation">
            <scripting:script engine="Groovy"><![CDATA[def tpi = new internal.data.TaxPayerInformation();

tpi.setLastName(flowVars['current'].lastName);
tpi.setFirstName(flowVars['current'].firstName);
tpi.setTaxAmount(message.payload.amount.trunc());

return tpi;]]></scripting:script>
        </scripting:component>
    </flow>
    <sub-flow name="sub-handeWithSimple" doc:name="sub-handeWithSimple">
        <data-mapper:transform config-ref="taxpayer2simpletaxrequest_grf" doc:name="-&gt; SimpleTaxRequest"/>
        <enricher target="#[message.payload.id]" doc:name="Message Enricher">
            <vm:outbound-endpoint exchange-pattern="request-response" path="/vm/internal/client/idGen" doc:name="client/idGen"/>
        </enricher>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/vm/internal/client/taxComputer/simple" doc:name="client/taxComputer/simple"/>
    </sub-flow>
    <sub-flow name="sub-handleWithComplex" doc:name="sub-handleWithComplex">
        <data-mapper:transform config-ref="taxpayer2advancedtaxrequest_grf" doc:name="-&gt; AdvancedTaxRequest"/>
        <enricher target="#[message.payload.id]" doc:name="Message Enricher">
            <vm:outbound-endpoint exchange-pattern="request-response" path="/vm/internal/client/idGen" doc:name="client/idGen"/>
        </enricher>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/vm/internal/client/taxComputer/complex" doc:name="client/taxComputer/complex"/>
    </sub-flow>
</mule>
